<configuration>
    <system.webServer>

        <!-- indicates that the server.js file is a node.js application
        to be handled by the iisnode module -->

        <handlers>
            <add name="iisnode" path="api.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
		  <rules>
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                     <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                </rule>

                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                    <match url="^api.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent">
                     <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <rule name="DynamicContent">
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="api.js"/>
                </rule>
		  </rules>
        </rewrite>
		<iisnode
              initialRequestBufferSize="4096"
              maxRequestBufferSize="6553600000000"
              watchedFiles="*.js;*.hbs;web.config;routes\*;views\*;controllers\*;models\*"
			  nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --no-deprecation --no-warnings"
             />

    </system.webServer>
</configuration>